# --- TELEGRAM BOT CONFIGURATION ---
# Dapatkan Token dari @BotFather di Telegram
TELEGRAM_TOKEN=YOUR_BOT_TOKEN_HERE

# Dapatkan Chat ID Anda dari @userinfobot atau @IDBot
TELEGRAM_CHAT_ID=YOUR_CHAT_ID_HERE

# --- APP CONFIGURATION ---
# Nama default jika belum di-rename
DEFAULT_BOT_NAME=SPY-BOT-TARGET
